/* 
google fonts used in this project
font-family: 'Anton', sans-serif; h1
font-family: 'Dosis', sans-serif; p
font-family: 'Noto Serif', serif; h2
 */

/* css reset */
* {
  box-sizing: border-box;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
  margin: 0;
  padding: 0;
  /* border: 0; */
  outline: none;
}

#home,
#about-body,
#project-body,
#contact-body {
  position: relative;
  line-height: 1.5em;
  font-size: 88%;
  text-align: justify;
  background-image: url("/images/pexels-joyston-judah-933054.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  width: 100%;
}
#home,
#contact-body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  padding: 0.6em 0;
  text-transform: uppercase;
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.floatLeft {
  float: left;
  padding: 0.5em 0.5em 0.5em 0;
}

.floatRight {
  float: right;
  padding: 0.5em 0 0.5em 0.5em;
}

/* css rules for html elements */
header {
  width: 100%;
  /* background-color: green; */
}

.image-container {
  width: 70%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.image-container a {
  color: #fff;
}

.image-container img {
  width: 40px;
  height: 40px;
  /* border: 3px solid #fff; */
  border-radius: 50%;
}

.logo-container {
  padding: 1em 0 0 0;
}

.logo-container {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
}

.hamburger-btn {
  width: 20%;
  background: none;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}

/* nav and overlay styling starts*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #052f5f;
  transform: translateX(-100vw);
  transition: transform 0.25s;
}

.nav-open {
  transform: translateX(0);
}

.close-nav {
  transform: translateX(-100vw);
}

.nav-link {
  display: block;
  font-size: 24px;
  /* padding: 24px; */
}

.nav-link:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.nav-link:hover {
  background-color: #ffffff;
  color: #052f5f;
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(60, 134, 224, 0.7);
}

.nav-overlay-open {
  display: block;
}

.nav-link a {
  display: block;
  padding: 24px;
  color: #fff;
}

.nav-link > a:hover {
  color: #052f5f;
  text-decoration: none;
}

.cancel {
  display: flex;
  margin: 0 auto;
  padding: 1em 0 0 0;
  justify-content: end;
  width: 80%;
}

.cancel:hover {
  color: red;
}

.nav-two,
.hide-text {
  display: none;
}

/* nav and overlay styling ends here */

/* main section css starts*/
.main {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}

.main-text {
  text-align: center;
  margin-top: 40%;
}

.main-text h1 {
  font-family: "Anton", sans-serif;
  letter-spacing: 0.3em;
  font-weight: 300;
}

.main-text p a {
  color: #fde12d;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.main-text p,
.about-text p,
.project-text p {
  text-align: justify;
  font-family: "Dosis", sans-serif;
  letter-spacing: 0.2em;
  margin-top: 0.5em;
  font-size: 1em;
  font-weight: 600;
}
/* main section css ends*/

/* footer css rule start */
.home-footer {
  margin-top: 1em;
  padding-bottom: 0.5em;
}
.home-footer,
.about-footer,
.project-footer,
.contact-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-footer ul,
.about-footer ul,
.project-footer ul,
.contact-footer ul {
  width: 90%;
  display: flex;
  padding: 0.2em;
  justify-content: space-between;
}

.home-footer ul li a,
.about-footer ul li a,
.project-footer ul li a,
.contact-footer ul li a {
  color: #fff;
}

.home-footer {
  position: absolute;
  bottom: 0;
}
/* footer css rule ends */
.about-footer,
.project-footer {
  margin: 0.3em 0;
  padding: 0.2em 0;
}
/* about page css rules starts here */
#about-body {
  background-image: url("/images/pexels-miguel-á-padriñán-1111318.jpg");
}

.about-text,
.project-text {
  text-align: center;
  margin-top: 2em;
}

.about-text h2,
.project-text h2 {
  text-align: initial;
  font-size: 1em;
  font-family: "Noto Serif", serif;
  letter-spacing: 0.2em;
  font-weight: 300;
}
/* about page css rules starts here */

/* project page css rules starts here */
#project-body {
  background-image: url("/images/pexels-pixabay-289618.jpg");
}

.project-text ul {
  text-align: initial;
  display: block;
}

.project-text ul li a {
  color: #fff;
  padding: 1em 0;
  display: block;
}

.project-text li {
  display: block;
}

.project-text ul li a:hover {
  background: #333745;
  text-decoration: none;
}
/* project page css rules ends here */

/* contact page css rules starts here */
#contact-body {
  background-image: url("/images/pexels-pixabay-269583.jpg");
}

.contact-main {
  margin: 0 auto;
  width: 90%;
}

.contact-text {
  margin-top: 45%;
  text-align: center;
  padding-top: 0.5em;
}

.contact-footer ul li a,
.contact-text {
  color: #fff;
  z-index: 3;
  cursor: pointer;
}

#contact-overlay {
  background: rgb(51, 55, 69, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
}
/* contact page css rules ends here */

/* tooltips for downloading resume starts*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  /* background-color: red; */
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.active {
  background: #fde12d;
  width: 150px;
  height: 40px;
  padding: 0.5em 0;
  text-align: center;
  color: #052f5f !important;
}

.nav-two,
.home-image,
.resume {
  display: none;
}

/* tooltips for downloading resume ends*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 550px) {
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .nav-one,
  .image-container img,
  .logo-container,
  .hamburger-btn {
    display: none;
  }

  .nav-two,
  .resume {
    display: block;
  }

  .nav-two {
    width: 60%;
    /* background-color: red; */
    margin: 0 auto;
    padding: 1em 0;
  }

  .nav-two ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em 0;
    /* background-color: pink; */
    /* border: 3px solid #5a5485;
    border-radius: 35px; */
  }

  .nav-two ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
    width: 150px;
    height: 40px;
    text-align: center;
  }

  .nav-two ul li a {
    /* padding: 1em; */
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    font-family: "Dosis", sans-serif;
    letter-spacing: 0.2em;
  }

  .main-text {
    margin-top: 8%;
  }

  .main-text h1 {
    font-size: 1.5em;
    margin-bottom: 1em 0 0 0;
    font-weight: 100;
    display: none;
  }

  .main-text p {
    font-size: 1.5em;
    letter-spacing: 0.3em;
    line-height: 1.5em;
    margin-top: 2em;
  }

  .home-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 5em;
    display: block;
  }

  .home-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
  }

  .home-footer ul {
    width: 80%;
  }

  .fa-3x {
    font-size: 4em;
  }

  .about-text h2,
  .project-text h2 {
    font-size: 1.4em;
    line-height: 1.5em;
    word-break: break-all;
    text-align: justify;
  }

  .about-text p,
  .project-text p,
  .project-text ul li a {
    font-size: 1.3em;
    line-height: 1.5em;
    display: inline-block;
  }

  .project-overlay,
  #contact-overlay {
    background: rgb(51, 55, 69, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
  }

  .project-text ul {
    font-size: 1.3em;
    width: 30%;
    height: auto;
  }

  #contact-body {
    height: 100vh;
  }

  .contact-main {
    margin: 0 auto;
    padding: 0;
  }

  .contact-text {
    margin-top: 30%;
    padding: 2em 0;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.3em;
  }

  .contact-footer {
    padding-bottom: 1em;
  }

  .resume {
    background: #fff;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
  }

  .download-cv {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8em;
  }

  .download-cv span {
    margin-top: 0.5em;
  }

  .download-cv span,
  .download-cv a {
    display: inline-block;
    padding: 1em 0;
    color: #333745;
    font-size: 1.5em;
    text-align: center;
  }

  .hobby-text {
    margin-bottom: 1em;
  }

  .home-footer ul,
  .about-footer ul,
  .project-footer ul,
  .contact-footer ul {
    width: 60%;
  }

  .home-footer ul li a,
  .about-footer ul li a,
  .project-footer ul li a,
  .contact-footer ul li a {
    font-size: 0.7em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .nav-two {
    width: 80%;
  }

  .nav-two ul {
    width: 100%;
  }

  .nav-two ul li a {
    width: 100%;
    /* background: red; */
    padding: 1em 0;
    font-size: 1.5em;
  }

  .nav-two ul li a:hover {
    padding: 1em 0;
  }

  .contact-text {
    margin-top: 20%;
    font-size: 1.2em;
  }

  .fa-3x {
    font-size: 3em;
  }

  .contact-footer ul,
  .about-footer ul,
  .project-footer ul,
  .home-footer ul {
    width: 30%;
  }

  .active {
    padding: 1em 0;
    height: auto;
  }

  .resume {
    width: 20%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
